@charset 'UTF-8';

body {
    height: 95vh;
    background-image: url(imagens/espaco.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1400px 620px;
    background-attachment: fixed;
}

div {
    height:95vh;
    background-image: url(imagens/astronauta.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 500px;
    background-attachment: fixed;
}